html {
  position: relative;
  min-height: 100%; }

body {
  color: #FFFFFF;
  /* Center and scale the image nicely */
  margin-bottom: 60px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

header {
  justify-content: center;
  display: flex;
  align-items: center; }
  header .header-content .hd-title {
    margin-top: 20px;
    color: #F44336;
    font-size: 1.5rem; }

.card .container {
  background-color: #000000;
  border-radius: 0px; }

.card img {
  padding: 25px; }

.card-content {
  color: #FFFFFF; }

.flex-row {
  flex-direction: row; }

.center {
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center; }

.searchbox {
  text-align: center; }
  .searchbox .searchinput {
    border-radius: 20px;
    height: 50px;
    background-color: transparent; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: #FFFFFF;
  background-color: black;
  opacity: 0.6;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center; }
  .footer #author-footer {
    text-decoration: none; }
  .footer .fa-heart {
    color: #F44336; }

.logo {
  width: 100px;
  height: 50px; }
